<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>

<div>
    <form th:method="PATCH" th:action="@{/users/edit/{id}(id=${user.getId()})}" th:object="${user}">
        <label for="name">Enter name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>

        <label for="surname">Enter surname: </label>
        <input type="text" th:field="*{surname}" id="surname"/>
        <br/>

        <label for="age">Enter age: </label>
        <input type="text" th:field="*{age}" id="age"/>
        <br/>

        <label for="job">Enter job: </label>
        <input type="text" th:field="*{job}" id="job"/>
        <br/>

        <input type="submit" value="Update"/>
    </form>
</div>

</body>
</html>